.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('https://wallpapercave.com/wp/wp5220815.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  position: sticky;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.name {

}

/* .name > img {
  height: 50px;
  width: 50px;
} */

.links {
  display: flex;

}

.links > a{
  color: white;
  text-decoration: none;
  flex-direction: row;
  margin: 10px;
}

.body {
  height: 200vh;
}