.App {
  text-align: center;
  background-color: #293E6F;
}

.App-header {
  background-image: url('https://wallpapercave.com/wp/wp5220815.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  z-index: 2;
}

.portfolio-img {
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  color: white;
  display: flex;
}

.links {
  display: flex;

}

.links > a, p{
  color: white;
  text-decoration: none;
  flex-direction: row;
  margin: 10px;
}

.website{
  color: white;
  text-decoration: underline white;
  flex-direction: row;
  margin: 10px;
}

.images {
  display: flex;
  justify-content: space-evenly;
}

.image {
  max-width: 40vw;
  
}

.body {
  height: auto;
  color: white;
}

