.App {
  text-align: center;
  
  /* background-color: #293E6F; */
}

.App-header {
  background-color: #293E6F;
  position: sticky;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  z-index: 2;
}

.portfolio-img {
  height: 135px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px;
}

.name {
  color: white;
  display: flex;
}

.links {
  display: flex;

}

.links > a, p{
  color: white;
  text-decoration: none;
  flex-direction: row;
  margin: 10px;
}

.website{
  color: black;
  text-decoration: underline black;
  flex-direction: row;
  margin: 10px;
}

.website-info{
  color: black;
  max-width: 800px;
  margin-left: 29%;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 65vw;
  margin-bottom: 50px;
  
}

.body {
  height: auto;
  color: black;
}

@media (prefers-color-scheme: dark) {
 
  .App {
    background-color: black;
  }
  .website{
    color: white;
    text-decoration: underline white;
  }
  .website-info{
    color: white;
  }
  .body {
    color: white;
  }
}

@media screen and (max-width: 1000px){
  .App {
    width: 100vw;
  }

  .App-header {
    max-height: 15vh;
  }

  .portfolio-img {
    height: 12vh;
    margin-top: 2vh;
  }

  .website-info{
    max-width: 75vw;
    margin-left: 12%;
  }
}